body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    margin: 7%;
    background-image: url(../images/background.jpg);
    background-color: rgb(44, 0, 115);
}
  
#content {
    display: flex;
    width: 90%;
    height: auto;
    box-shadow: 10px 10px 10px 10px rgb(59,46,106);
    border-radius: 20px;
    background-color: rgb(69, 58, 105);
}
  
form {
    width: 99%;
    margin-bottom: 5%;
    padding: 2%;
}
  
h1 {
    color: rgb(77,165,158);
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 5%;
}
  
p {
    color: rgb(53, 108, 104);
    text-align: center;
    margin-bottom: 5%;
    font-size: 2em;
}

#input-email input, #input-phone input {
    background-color: rgb(198, 246, 255);
    border-color: rgb(198, 246, 255);
    color: #1e1e1e;
    font-weight: normal;
    font-size: 1.75em;
    margin-bottom: 5%;
    padding: 2%;
}

#input-email label, #input-phone label {
    font-size: 2.5em;
}

#email, #phone {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(207, 148, 251);
    border-radius: 10px;
}
  
#input-terms {
    display: flex;
    margin-bottom: 5%;
    font-size: 1.5em;
}
  
#input-terms input {
    margin-right: 10px;
    font-size: 120%;
    line-height: normal;
    width: 1em;
    height: 1em;
}

#input-submit {
    width: 100%;
    text-align: center;
}
    
#submit {
    width: auto;
    color: beige;
    background-color: rgb(77,165,158);
    box-shadow: 4px 4px 4px 4px rgba(39, 39, 39, 0.253);
    border-radius: 50px 50px 10px 10px;
    border-color: rgb(77,165,158);
    font-family: "Roboto Mono", monospace, sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 2% 7% 2% 7%;
}

@media only screen and (min-width: 1000px) {
    h1 {
        font-size: 3em;
    }
  
    p, #input-email input, #input-phone input, #input-terms {
        font-size: 1.5em;
    }

    #input-email label, #input-phone label, #submit {
        font-size: 1.75em;
    }

    #input-terms input {
        margin-right: 10px;
        font-size: 130%;
        line-height: normal;
    }
}

@media only screen and (min-width: 2000px) {
    h1 {
        font-size: 4.5em;
    }
  
    p, #input-email input, #input-phone input, #input-terms {
        font-size: 3em;
    }

    #input-email label, #input-phone label, #submit {
        font-size: 3.25em;
    }

    #input-terms input {
        margin-right: 10px;
        font-size: 140%;
        line-height: normal;
    }
}