body {
    font-family: "Roboto Mono", monospace, sans-serif;
    display: flex;
    justify-content: center;
    margin: 7%;
}
  
#content {
    display: flex;
    width: 90%;
    height: auto;
    box-shadow: 10px 10px 10px 10px rgba(39, 39, 39, 0.253);
    border-radius: 20px;
    background-color: rgb(150, 239, 255);
}
  
form {
    width: 100%;
    margin-bottom: 5%;
    padding: 2%;
}
  
h1 {
    color: rgb(255, 13, 235);
    text-align: center;
    font-size: 6em;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 5%;
}
  
p {
    color: #1e1e1e;
    text-align: center;
    margin-bottom: 5%;
    font-size: 3em;
}

#input-email input, #input-phone input {
    background-color: rgb(198, 246, 255);
    border-color: rgb(198, 246, 255);
    color: #1e1e1e;
    font-weight: normal;
    font-size: 2.75em;
    margin-bottom: 5%;
}

#input-email label, #input-phone label {
    font-size: 3.2em;
}

#email, #phone {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(207, 148, 251);
    border-radius: 10px;
}
  
#input-terms {
    display: flex;
    margin-bottom: 5%;
    font-size: 3em;
}
  
#input-terms input {
    margin-right: 10px;
    font-size: 120%;
    line-height: normal;
    width: 1em;
    height: 1em;
}
    
#submit {
    width: 100%;
    color: beige;
    background-color: rgb(255, 13, 235);
    box-shadow: 4px 4px 4px 4px rgba(39, 39, 39, 0.253);
    border-radius: 50px 50px 10px 10px;
    border-color: rgb(255, 13, 235);
    font-family: "Roboto Mono", monospace, sans-serif;
    text-align: center;
    font-size: 3.2em;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media only screen and (min-width: 1000px) {
    h1 {
        font-size: 3em;
    }
  
    p, #input-email input, #input-phone input, #input-terms {
        font-size: 1.5em;
    }

    #input-email label, #input-phone label, #submit {
        font-size: 1.75em;
    }

    #input-terms input {
        margin-right: 10px;
        font-size: 130%;
        line-height: normal;
    }
}